In [ ]:
!pip install pywedge

In [ ]:
import pandas as pd
import pywedge as pw

In [ ]:
df = pd.read_csv("vgsales.csv")

In [ ]:
df.head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

In [ ]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [ ]:
# TWO imp commands to create Dashboards :

# 1. mc = pw.Pywedge_Charts(df,c=None, y="Global_Sales")
# 2. charts = mc.make_charts()

In [ ]:
# mc = pw.Pywedge_Charts(df, c=None, y="Genre")

In [ ]:
c = None
y = "Genre"
mc = pw.Pywedge_Charts(df,c,y)

In [ ]:
charts = mc.make_charts()